/*.container{
	width: 710px;
}*/

body{
	/*background: url('background.png');*/
	background: #dcdcdc;
	text-align:center;
	font-family: "Helvetica", sans-serif;
	/*color: grey;*/
}

section{
	margin: auto;
	background: #fff;
	width: 76%;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	color: #869;
	text-decoration: underline;
}
a:visited{
	color: #89c;
}

nav{
	margin: auto;
	background: #2f4f4f;
	padding: 0 0.7em;
	white-space: nowrap;
	width: 74%;
	height: 30%;
	text-align: right;
}

nav ul{
	margin: 0;
	padding 0;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a{
	padding: 0 5px;
}

nav ul li a:visited{
	color: #fff;
}

footer{
	margin: auto;
	background: #fff;
	padding: 0 0.7em;
	white-space: nowrap;
	width: 74%;	
}


.top_box{
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 100px;
	padding-top: 10px;
	border: solid;
	border-width: 1px;
	border-color: grey;
	background: url('background.png');
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	color: grey;
}

.main_box{
	margin: auto;
	margin-top: 10px;
	width: 100%;
	min-height: 500px;
	/*border: solid;
	border-width: 1px;
	border-color: grey;*/
	padding-top: 10px;
	background: #fff;	
}

.main_box a{
	color: #89c;
}

.main_box h3{
	font-family: "Brush Script MT", cursive;
}

.profile_info{
	float: right;
	width: 40%;
	height: 100%;
	text-align: left;
}

.profile_info_count{
	float: right;
	width: 40%;
	text-align: left;
	border: solid;
}

.my_recipes{
	float: left;
	width: 50%;
	min-height: 400px;
	text-align: center;
	border-right: solid;
	border-right-color: grey;
	border-right-width: 1px;
}

.profile_images{
	float: right;
	width: 49%;
	min-height: 400px;
	text-align: center;
}

.show_recipe{
	margin: auto;
	width: 60%;
	background-color: #f5fffa;
	/*border: dotted;
	border-width: 1px;*/
}

.list_recipe{
	margin: auto;
	width: 30%;
	text-align: center;
	background-color: #f5fffa;
	/*border: dotted;
	border-width: 1px;*/
}

.by{
	float: right;
	width: 50%;
	font-style: italic;
	font-size: 90%;
	text-align: center;
	color: grey;
}

.search_result_header{
	margin: auto;
	width: 30%;
	border-bottom: solid;
	border-bottom-width: 1px;
}