<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <h3><%= @title %></h3> <br/>
      <h4>Ingredients:</h4>
      <%= @ingredients %> <br/><br/><br/>
      <h4>Instructions: </h4>
      <%= @instructions %> <br/>
    </p>
  </body>
</html>